.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;

}

.searchInput {
    height: 35px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 2px solid transparent;
}

.searchInput:focus {
    outline: none;
    border: solid 2px rgb(25, 232, 25);
}


